 
@{  
    var Model  = ViewData.Model;
    string xx = "";
    var moo = ViewData.ModelMetadata.GetType();
    string yy = "";
    var foo1 = ViewData.GetType();
    string x1 = "";

} 

  @*@model @Model*@ 
@*<td>
    @Html.ActionLink(" ", "Edit", "Ingredients", new { id = modelId, sourceActionMethod, actionMethod = "Edit" }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-edit", @title = "Edit" })
</td>
<td>
    @Html.ActionLink(" ", "Details", new { id = modelId }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-list", @title = "Details" })
</td>
<td>
    @Html.ActionLink(" ", "Delete", new { id = modelId }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-trash", @title = "Delete" })
</td>*@

<td>pook</td><td>foo</td><td>bar</td>