@*//@model LambAndLentil.Domain.Entities.Ingredient*@
@model LambAndLentil.UI.Models.Recipe

@using (Html.BeginForm("AttachIngredient", UIControllerType.Recipes.ToString()))
{
    <h3>Ingredients in this Recipe</h3>
    @Html.HiddenFor(x => x.ID)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input type="submit" value="+ Add to Recipe" /> 


    <table class="table">
        <tr>
            <th> 
                        Description
            </th>
                        <th>
            Ingredients List
                        </th>
                </tr>
        <tr>
            <td>name</td>
            <td>description</td>
            <td>
                @*@Html.ActionLink(" ", UIViewType.Details.ToString(), new
          {
              recipeID =Model.ID,ingredientID=
              actionMethod = "RemoveIngredient"
          }, new { @class = "btn btn-default btn-sm  glyphicon glyphicon-trash", @title = "Delete" })*@
           
        </tr>
        </table>
                }
