@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">We are sorry.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger">@ViewBag.Message</h2>
<h2 class="text-danger">Please try again, and if that does not work,  please email <a href="mailto:Support@lamb&lentil.com">Support@lamb&lentil.com</a></h2>

