@using LambAndLentil.UI.HtmlHelpers
@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="~/Content/HomeIndex.css" rel="stylesheet" />

<div class="splash">
     
   <div class="row">
        <div class="col-sm-7">
            <h1>Lamb </h1>
            <h1>&</h1>
            <h1>Lentil</h1>
        </div>
        <div class="col-sm-5">
            <p>
                Meal Planning for Those with
            </p>
            <ul>
                <li>Food Allergies</li>
                <li>Dietary Restrictions  </li> 
                <li>Diabetes</li>
                <li>Sodium Restrictions</li>
                <li>High Cholesterol</li>
            </ul>
        </div>
    </div> 
    <ul>
       <li>Select or create recipes for dishes</li>
         <li>Set up a menu using the recipes as dishes</li>
         <li>Get nutritional information on ingredients</li>
         <li>Create a shopping list you can use to get everything you need</li>
        <li>Save your favorite recipes, menus, ingredients of concern, shopping list items for future use</li>
         <li>Build a personal profile with nutritional minimums and maximums, required nutrients and exclusions</li>
     </ul>
 </div>

<div class="row">
    <div class="col-md-2">
        <h2>Getting started</h2>
        <p>
            Ingredients - get nutritional information for various foods
        </p>
        <h3>recipes </h3>
        <ul>
            <li>Build recipes or use a saved recipe</li>
            <li>Compute nutrients for a particular recipe</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Menus</h2>
        <p> On the menu</p>
        <p>compute nutrients in the menu for one meal or snack</p>

    </div>
    <div class="col-md-3">
        <h2>Plan</h2>
        <p>Plan a day, a week or another period of meals</p>
        <p>If you need to go back and adjust or replace a recipe, this will give you the info</p>
    </div>
    <div class="col-md-2">
        <h2>Shopping List</h2>
        <p>Get a file you can use or print</p>
        <p>Maybe 75% done. Maybe.</p>
    </div>
    <div class="col-md-2">
        <h2>Personal Profile</h2>
        <p>Build a profile of required nutrients, max and mins and exclusions for a particular person, or use a template</p>
    </div>
</div>
