@model IEnumerable<string>

@{
    string actionMethod = ViewBag.actionMethod;
}


<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Brand
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("All", actionMethod, "Ingredients")</li>
        @foreach (var link in Model)
        {
            <li>
                        @Html.RouteLink(link, new
                   {
                       controller = "Ingredients",
                       action = actionMethod,
                       brand = link, 
                       page = 1
                   },
             new
             {
                 @class = link == ViewBag.SelectedBrand ? "selected" : null, 
             }) 
                        
            </li>
        }
        </ul>
    </div> 