<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net46" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc.Futures-vHalfNext" version="5.5.1" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc-vHalfNext" version="5.5.14" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.Razor-vHalfNext" version="3.3.4" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebPages-vHalfNext" version="3.3.9" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Moq" version="4.7.1" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net46" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net46" />
</packages>